<!DOCTYPE html>
<html>

    <head>
        <link href="{{ asset('css/base.css') }}" rel="stylesheet"  type="text/css" />
        <meta charset="UTF-8">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
