{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <form action="{{ path('login') }}" method="POST">
        <div >
               <p>
                   <label for="_username"> <h2> Username </h2> </label>

                   <input type="text" id="username" placeholder="Enter Username" name="_username" required>

                   <br>

                    <label for="_password"> <h2>Password</h2> </label>

                    <input type="password"  id= "password" placeholder="Enter Password" name="_password" required>

               </p>

                <button type="submit" class="loginButton button1 ">Login</button>

        </div>
    </form>
    </div>



<!--    <div class="center">
        <form action="" method="POST">
            Username: <input type="text" id="username" name="_username" /><br>
            Password: <input type="text" id="password" name="_password" /> <br>

            <button type="submit">Login</button>
        </form>
    </div>
-->

{% endblock %}