{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %} Login | Exam App {% endblock %}</title>
     <div class="container">

        <form action="{{ path('login') }}" method="POST">
                <p>
                    <input type="text" id="username" placeholder="Enter Username" name="_username" required>
                </p>
                <p>
                    <input type="password"  id= "password" placeholder="Enter Password" name="_password" required>
                </p>
                <p>
                    <button type="submit" class="loginButton button1">Login</button>
                </p>

        </form>

     </div>



<!--    <div class="center">
        <form action="" method="POST">
            Username: <input type="text" id="username" name="_username" /><br>
            Password: <input type="text" id="password" name="_password" /> <br>

            <button type="submit">Login</button>
        </form>
    </div>
-->

{% endblock %}