{% extends 'studentBase.html.twig' %}

{% block body %}

  <ul>
    <li><a href=""> Student </a> </li>
    <li><a href="">Results</a></li>
    <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
  </ul>

  <h2> Exam completed </h2>


{% endblock %}


