{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href=""> Student </a> </li>
        <li><a href="">Results</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
    </ul>

    <h2> available exams </h2>
    <div>
        <table id="customers">
            <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th> Details </th>
                <!-- <th> Random questions </th>  -->
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
                <tr>
                    <td>{{ exam.field.name  }} </td>
                    <td>{{ exam.name }} </td>
                    <td>
                        <a href="{{ path('takeExam', {'eId': exam.id}) }}">take exam</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}