{% extends 'base.html.twig' %}

{% block body %}

<ul>
    <li><a href="{{ path('student') }}"> Student </a> </li>
    <li style="float:right"><a href="{{ path('logout') }}">Log out</a></li>
</ul>
    <br>
    <h3> Exam completed </h3>

{% endblock %}