{% extends 'base.html.twig' %}

{% block body %}

    <h2> teacher page </h2>
    <h4> <a href="{{ path('createQuestion') }}">create question</a> </h4>
    <h4> <a href="{{ path('createExam') }}">create exams</a> </h4>

{% endblock %}